<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "The Science of Math" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= auto_stylesheet_link_tag %>
    <%= javascript_include_tag "turbo.es2017-esm", type: "module" %>
    <%= javascript_include_tag "site", type: "module" %>
    <%= auto_javascript_include_tag %>
  </head>
  <body>
    <%= partial 'header' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
